html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
}

.startScreen {
  background-color: #2b333d;
  color: aliceblue;
  height: 100vh;
  width: 100vw;
}

.container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.stage {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
}

.character {
  position: absolute;
  display: block;
  height: 100px;
  width: 100px;
  bottom: 0;
  left: 0;
  background-color: #ffd600;
  background:url('https://media.discordapp.net/attachments/1019466411044765716/1024926081033195561/owi.png') no-repeat;
  background-size: contain;
  z-index: 10;
}

.door {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  background-color: brown;
}

.button{
  position: absolute;
  display: block;
  height: 50px;
  width: 50px;
  bottom: 0;
  left: 0;
  background-color: orange;
}

.coin{
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  bottom: 0;
  left: 0;
  background-color: yellow;
}

.enemy {
    position: absolute;
    display: block;
    height: 200px;
    width: 80px;
    bottom: 0;
    left: 0;
    background-color: red;
    z-index: 5;
}

.platform {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
}

.terrain {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
}

.coinCounter {
  position: absolute;
  left: 2%;
  top: 2%;
  font-family: 'Segoe UI Emoji';
  font-size: 30px;
  font-weight: bold;
  color: #dba102;
  text-shadow: -1px -1px 0 hwb(19 7% 51% / 0.5), 1px -1px 0 hwb(19 7% 51% / 0.5), -1px 1px 0 hwb(19 7% 51% / 0.5), 1px 1px 0 hwb(19 7% 51% / 0.5);
}

.introText {
  position: relative;
  top: 25%;
  text-align: center;
  font-family: 'Segoe UI Emoji';
  font-size: 30px;
}

.errorText {
  position: relative;
  margin-top: 5%;
  top: 150px;
  text-align: center;
  font-family: 'Segoe UI Emoji';
  font-size: 20px;
  color: rgb(255, 87, 87);
  font-weight: bold;
}